body {
    font-family: 'Roboto Mono', monospace;
    color: #333333;
    margin: 0;

}

.body {
    font-family: 'Roboto Mono', monospace;
    color: #333333;
    font-size: 17px;
    line-height: 24px;
    margin: 16px 0px;
    font-weight: 500;

}

.body-bold {

    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    line-height: 24px;
    margin: 16px 0px;
    color: #333333;
    font-weight: 700;
}

.image-caption {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #6a6a6a;
    margin: 0px;
    padding: 6px 0px 6px 6px;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    padding: 6px 0;
    margin: 0;

}

.h1 {
    color: #333333;
    font-size: 58px;
    line-height: 66px;
    font-weight: 700;
    margin: 0;
}

.h2 {
    color: #333333;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    margin: 0;
}

.h2-rich-text {
    color: #333333;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.h3 {
    color: #333333;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
}

.paragraph {
    color: #333333;
    font-size: 20px;
    line-height: 28px;
    margin: 0px;

}

.paragraph-bold {
    color: #333333;
    font-size: 20px;
    line-height: 28px;
    margin: 16px 0px;
    font-weight: 700;

}

.nav-logo {
    padding-top: 2px;
    padding-bottom: 2px;
}

li {
    margin-bottom: 12px;
    font-weight: 500;
    line-height: 24px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

ul {
    line-height: 24px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-top: 0px;
    margin-right: 0px;
    font-weight: 500;
}

ol {
    line-height: 24px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-top: 0px;
    margin-right: 0px;
    font-weight: 500;
}

::selection {
    background: magenta;
}

.nav-container-wide {
    padding: 32px 32px;
    max-width: 1100px;
    margin: auto;
}

.nav-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.8rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.nav-link {
    list-style: none;
    display: flex;
    background-color: transparent;
    align-items: center;
    padding: 4px 16px;
    margin: 0px 4px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #5f5f63;
    transition: color .3s, transform .3s, background-color .3s;
}

.nav-link:hover {
    color: #000000;
    background-color: #DADADA;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transform: scale(1.02);
}

.nav-link[aria-current="page"] {
    color: #000000;
}

.nav-link.w--current {
    color: #000000;
}

.nav-link:hover:not([aria-current="page"]) {
    color: #000000;
    background-color: #DADADA;
    cursor: pointer;
    border-radius: 4px;
    transform: scale(1.02);
}

.nav-link[aria-current="page"], .nav-link.w--current {
    color: #000000;
}

.nav-link[aria-current="page"]:hover, .nav-link.w--current:hover {
    background-color: transparent;

}

.nav-link li {
    margin: 0 16px;
}

.nav-link a {
    text-decoration: none;
    color: #5F5F63;
    font-size: 16px;
    font-weight: 700;
}

.navbar {
    background-color: transparent;
    padding: 0px;
    margin: 0px;

}

.list-unstyled {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.icon-style {
    color: #333333;
    font-size: 20px;
    line-height: 28px;
    margin: 0;

}

.profile-img {
    max-width: 260px;
    vertical-align: middle;
    border-radius: 16px;
}

.illy-logo {
    vertical-align: middle;
}

.section {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1100px;
    margin: auto;
}

.container {
    max-width: 880px;
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
}

.work-header-image {
    border-radius: 12px;
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, .1);

}

.work-page-summary {
    padding: 0px;
}

.work-page-content-w-rich-text {
    padding: 24px 0;

}

.profile-card {
    padding-top: 0px;
    padding-bottom: 48px;
}

.flex-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 0px;

}

@media screen and (min-width: 991px) {


    .h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .paragraph,
    .button,
    .link,
    .project-link {
        font-size: 20px;
    }

    .body {
        font-size: 17px;
        line-height: 24px;
    }

    li {
        font-size: 17px;
    }


    ul {
        font-size: 17px;
        padding: 0 0 0 24px;
    }

    ol {
        font-size: 17px;
        padding: 0 0 0 24px;
    }

    .flex-row-child-left {
        max-width: 36%;

    }

    .flex-row-child-right {
        max-width: 56%;
        gap: 40px;
    }


    .title-flex {
        display: flex;

    }

    .title-flex-special {
        display: none;
    }


    footer {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 24px;
        padding-bottom: 48px;
    }

    .modal-content {
        width: 90%;
    }


    .img-slides {
        border-radius: 12px;
        max-width: 82.3vw;
        max-height: 84vh;
        display: block;
    }

    .prev,
    .next {
        display: block;
        display: flex;
    }

    .work-project-wrapper {
        padding: 60px 0px;
    }


    .h2-rich-text {
        font-size: 36px;
        line-height: 44px;
    }

    .work-page-summary {
        padding: 24px 0px;
    }

    .image-grid-one {
        border-radius: 20px;
        padding: 16px;
    }

    .image-grid-one img {
        border-radius: 12px;
    }

    .image-grid-one img:hover {
        opacity: 0.7;
    }


    .image-grid-two {
        gap: 16px;
        border-radius: 20px;
        padding: 16px;
        padding-right: 0;
        /* Adjust the gap as needed */
    }

    .image-grid-two img {
        transition: 0.3s;
        border-radius: 12px;
        max-width: calc(50% - 16px);
    }

    .image-grid-two img:hover {
        opacity: 0.7;
    }


    .image-grid-three {
        gap: 16px;
        border-radius: 20px;
        padding: 16px;
        padding-right: 0;
        /* Adjust the gap as needed */
    }

    .image-grid-three img {
        border-radius: 12px;
        max-width: calc(33.333% - 16px);
    }


}

.title-flex-special-mobile {
    display: none;
}

.title-flex-special-mobile-wrap {
    display: none;
}

.illy-logo {
    width: 140px;
    height: 116px;
}

.narrow-text-container {
    max-width: 70%;
}


.project-link {
    font-size: 20px;
}

.image-grid-three img {
    max-width: calc(33.333% - 16px);
    /* Set to one-third, adjust the 10px if you change the gap */
}

.image-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}


@media screen and (min-width: 992px) and (max-width:1056px) {

    .flex-wrapper {
        gap: 56px;
    }

    .flex-row-child-right {
        max-width: 100%;
        gap: 40px;

    }

    .flex-row-child-left {
        max-width: 36%;

    }


    .h2-rich-text {
        font-size: 36px;
        line-height: 44px;
    }


    .h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .body {
        font-size: 17px;
        line-height: 24px;
    }

    li {
        font-size: 17px;
    }


    ul {
        font-size: 17px;
        padding: 0 0 0 24px;
    }

    ol {
        font-size: 17px;
        padding: 0 0 0 24px;
    }

    .work-page-summary {
        padding: 24px 0px;
    }

    .image-grid-one {
        border-radius: 20px;
        padding: 16px;
    }

    .image-grid-one img {
        border-radius: 12px;
    }

    .image-grid-one img:hover {
        opacity: 0.7;
    }


    .image-grid-two {
        gap: 16px;
        border-radius: 20px;
        padding: 16px;
        padding-right: 0;
        /* Adjust the gap as needed */
    }

    .image-grid-two img {
        transition: 0.3s;
        border-radius: 12px;
        max-width: calc(50% - 16px);
    }

    .image-grid-two img:hover {
        opacity: 0.7;
    }


    .image-grid-three {
        gap: 16px;
        border-radius: 20px;
        padding: 16px;
        padding-right: 0;
        /* Adjust the gap as needed */
    }

    .image-grid-three img {
        border-radius: 12px;
        max-width: calc(33.333% - 16px);
    }

}


/* Styles for tablets and below */
@media screen and (max-width: 991px) {
    .flex-wrapper {
        flex-direction: column;
        align-items: left;
        width: 100%;
        gap: 0px;
    }

    .flex-row-child-left {
        display: none;

    }

    .flex-row-child-right {
        max-width: 90%;
        gap: 40px;
    }

    .title {
        font-size: 48px;
        line-height: 56px;
    }

    .h1 {
        font-size: 38px;
        line-height: 46px;
        font-weight: 700;
        margin: 0;
    }

    .h2 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        margin: 0;
    }


    .h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .body {
        font-size: 17px;
        line-height: 24px;

    }

    li {
        font-size: 17px;
    }


    ul {
        font-size: 17px;
        padding: 0 0 0 24px;
    }

    ol {
        font-size: 17px;
        padding: 0 0 0 24px;
    }

    .paragraph,
    .button,
    .link,
    .project-link {
        font-size: 18px;
    }

    .icon-wrapper {
        justify-content: left;
    }

    .title-flex {
        display: none;

    }

    .title-flex-special {
        display: flex;

    }

    .title-flex-special-mobile {
        display: none;
    }

    .title-flex-special-mobile-wrap {
        display: none;
    }

    .profile-img {
        max-width: 20vw;
    }

    .profile-card {
        padding-top: 0px;
        padding-bottom: 48x;
    }

    .narrow-text-container {
        max-width: 90%;
    }

    .button {
        font-family: 'Roboto Mono', monospace;
        font-size: 18px;
        width: 260px;
        height: 56px;
    }

    footer {
        padding-top: 24px;
        padding-bottom: 48px;

    }

    .img-slides {
        border-radius: 12px;
        max-width: 82.3vw;
        max-height: 84vh;
        display: block;
    }

    .prev,
    .next {
        display: block;
        display: flex;
    }

    .work-project-wrapper {
        padding: 60px 0px;
    }


    .h2-rich-text {
        font-size: 36px;
        line-height: 44px;
    }

    .work-page-summary {
        padding: 24px 0px;
    }

    .image-grid-one {
        border-radius: 20px;
        padding: 16px;
    }

    .image-grid-one img {
        border-radius: 12px;
    }

    .image-grid-one img:hover {
        opacity: 0.7;
    }

    .image-grid-two {
        gap: 16px;
        border-radius: 20px;
        padding: 16px;
        padding-right: 0;
    }

    .image-grid-two img {
        transition: 0.3s;
        border-radius: 12px;
        max-width: calc(50% - 16px);
    }

    .image-grid-two img:hover {
        opacity: 0.7;
    }

    .image-grid-three {
        gap: 16px;
        border-radius: 20px;
        padding: 16px;
        padding-right: 0;
    }

    .image-grid-three img {
        border-radius: 12px;
        max-width: calc(50% - 8px);
    }

    .image-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }

}

@media (min-width: 767px) and (max-width: 860px) {

    .body {
        font-size: 17px;
        line-height: 24px;
    }

    li {
        font-size: 17px;
    }


    ul {
        font-size: 17px;
        padding: 0 0 0 24px;
    }

    ol {
        font-size: 17px;
        padding: 0 0 0 24px;
    }


    .h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }


    .img-slides {
        border-radius: 12px;
        max-width: 82.3vw;
        max-height: 84vh;
        display: block;
    }


    .profile-card {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    /* Style the arrows for navigation */
    .prev,
    .next {
        display: block;
        display: flex;
    }

    .work-project-wrapper {
        padding: 60px 0px;
    }

    .h2-rich-text {
        font-size: 36px;
        line-height: 44px;
    }

    .work-page-summary {
        padding: 24px 0px;
    }

    .footer-content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .image-grid-one {
        border-radius: 20px;
        padding: 16px;
    }

    .image-grid-one img {
        border-radius: 12px;
    }

    .image-grid-one img:hover {
        opacity: 0.7;
    }


    .image-grid-two {
        gap: 16px;
        border-radius: 20px;
        padding: 16px;
        padding-right: 0;
        /* Adjust the gap as needed */
    }

    .image-grid-two img {
        transition: 0.3s;
        border-radius: 12px;
    }

    .image-grid-two img:hover {
        opacity: 0.7;
    }

    .image-grid-three {
        gap: 16px;
        border-radius: 20px;
        padding: 16px;
        padding-right: 0;
        /* Adjust the gap as needed */
    }

    .image-grid-three img {
        border-radius: 12px;
    }


    .illy-logo {
        width: 120px;
        height: 96px;
    }

}


/* Styles for mobile landscape and below */
@media screen and (max-width: 767px) {

    .section {
        padding-left: 16px;
        padding-right: 16px;

    }

    .flex-wrapper {
        flex-direction: column;
        align-items: left;
        max-width: 100%;
    }

    .flex-row-child-right {
        max-width: 100%;
        width: 100%;
        gap: 32px;
    }

    .flex-row-child-left {
        display: none;

    }

    .title {
        font-size: 38px;
        line-height: 46px;
    }

    .h1 {
        font-size: 38px;
        line-height: 46px;
        font-weight: 700;
        margin: 0;
    }

    .h2 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        margin: 0;
    }

    .h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .paragraph,
    .button,
    .link,
    .project-link {
        font-size: 18px;
    }

    .body {
        font-size: 16px;
        line-height: 24px;
    }

    li {
        font-size: 16px;
    }


    ul {
        font-size: 16px;
        padding: 0 0 0 16px;
    }

    ol {
        font-size: 16px;
        padding: 0 0 0 16px;
    }

    .illy-logo {
        width: 110px;
        height: 86px;
    }


    .logo-text {
        font-size: 26px;
        height: auto;

    }

    .profile-img {
        max-width: 20vw;
    }

    .profile-card {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .narrow-text-container {
        max-width: 100%;
    }

    .button {
        font-family: 'Roboto Mono', monospace;
        font-size: 18px;
        width: 260px;
        height: 56px;
    }

    footer {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    /* Photo modal on smaller screens <767px */

    .img-slides {
        border-radius: 12px;
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

    .prev, .next {
        display: none;
    }

    .close {
        background-color: #2b2b2b;
    }

    .work-project-wrapper {
        padding: 40px 0px;
    }

    .container {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 32px;

    }

    .work-page-summary {
        padding: 8px 0px 8px 0px;
    }

    .h2-rich-text {
        font-size: 32px;
        line-height: 40px;
    }

    .nav-container-wide {
        padding: 32px 16px 32px;
        margin: 0px;
    }

    .image-grid-one,
    .image-grid-two,
    .image-grid-three {
        border-radius: 16px;
        padding: 8px;
    }

    .image-grid-one img,
    .image-grid-two img,
    .image-grid-three img {
        border-radius: 8px;
    }

    .image-grid-two img {
        max-width: calc(50% - 8px);

    }

    .image-grid-two, .image-grid-three {
        gap: 8px;
    }
    
}


@media (min-width: 664px) and (max-width: 767px) {

    .title-flex {
        display: none;
    }

    .title-flex-special {
        display: flex;

    }

    .title-flex-special-mobile {
        display: none;
    }

    .title-flex-special-mobile-wrap {
        display: none;
    }

    .h2-rich-text {
        font-size: 32px;
        line-height: 40px;
    }

    .illy-logo {
        width: 110px;
        height: 86px;
    }

}


@media (min-width: 478px) and (max-width: 664px) {

    .title-flex {
        display: none;
    }

    .title-flex-special {
        display: none;

    }

    .title-flex-special-mobile {
        display: flex;
    }

    .title-flex-special-mobile-wrap {
        display: flex;
    }

    .illy-logo {
        width: 110px;
        height: 86px;
    }

    .profile-img {
        max-width: 100%;
    }

    .h2-rich-text {
        font-size: 32px;
        line-height: 40px;
    }
}



@media (min-width: 478px) and (max-width: 767px) {

    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .profile-img {
        min-width: 20vw;
    }

    footer {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .footer-content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .h2-rich-text {
        font-size: 32px;
        line-height: 40px;
    }

    .illy-logo {
        width: 110px;
        height: 86px;
    }

}

/* Styles for mobile portrait and below */
@media screen and (max-width: 478px) {

    .flex-wrapper {
        flex-direction: column;
        align-items: left;
        width: 100%;
    }

    .flex-row-child-right {
        max-width: 100%;
        width: 100%;
        gap: 32px;
    }

    .title {
        font-size: 38px;
        line-height: 46px;
    }

    .h1 {
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
        margin: 0;
    }

    .h2-rich-text {
        font-size: 32px;
        line-height: 40px;
    }

    .paragraph,
    .button,
    .link,
    .project-link {
        font-size: 18px;
    }

    .title-flex {
        display: none;
    }

    .title-flex-special {
        display: none;

    }

    .title-flex-special-mobile-wrap {
        display: flex;
    }

    .title-flex-special-mobile {
        display: flex;
    }

    .illy-logo {
        width: 110px;
        height: 86px;
    }

    .profile-img {
        max-width: 100%;
    }

    .profile-card {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .narrow-text-container {
        max-width: 100%;
    }

    .button {
        font-family: 'Roboto Mono', monospace;
        font-size: 18px;
        width: auto;
        height: 48px;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        /* Adjust the gap size as needed */
    }

    .image-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 12px;
    }

    footer {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .footer-content {
        padding-left: 16px;
        padding-right: 16px;
    }

}

.flex-link-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.flex-row-child-left {
    gap: 40px;
    flex: 1;
}


.flex-row-child-right {
    display: flex;
    flex-direction: column;
}


.contact-info {
    padding: 40px 0px 0px;

}

.title-flex {

    align-items: center;
    gap: 32px;
    grid-column-gap: 40px;
}

.title-flex-special {
    grid-column-gap: 32px;
    flex-direction: row;
    flex: 1;
    align-items: center;
    padding-bottom: 40px;
}

.title-flex-special-mobile-wrap {

    flex-direction: column;
    align-items: left;
    padding-bottom: 32px;
}


.title-flex-special-mobile {
    grid-column-gap: 40px;
    flex-direction: row;
    align-items: center;
    padding-bottom: 24px;
}

.functional-icon {
    width: 28px;
    height: 28px;

}

.icon {
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.icon-wrapper {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding-bottom: 12px;
    gap: 12px;
}

.link {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(197, 197, 197);
}

.link:hover {
    color: magenta;
    text-decoration: underline;
}

.project-link {
    color: #333333;
    background-repeat: no-repeat;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: rgb(197, 197, 197);
}

.project-link:hover {
    color: magenta;
    text-decoration: underline;
}

.rich-text-link {
    font-size: 17px;
    line-height: 24px;
    color: #333333;
    background-repeat: no-repeat;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: rgb(197, 197, 197);
}

.rich-text-link:hover {
    color: magenta;
    text-decoration: underline;
}

.button-container {
    display: flex;

}

.button {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    width: auto;
    color: #333333;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: rgb(197, 197, 197);
    padding: 16px 32px;
    cursor: pointer;
    margin-right: 24px;
    background-color: white;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
}

.button:hover {
    color: magenta;
}

.button:last-child {
    margin-right: 0;
}


.hr {
    border: none;
    height: 1px;
    background-color: #E2E2E2;
    margin: 0px;
}

.work-project-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.get-in-touch-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.h2-24px-flex-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

/* this  is the grid container for personal inspiration section*/
.image-grid {
    display: grid;
    padding: 0px;
    border-radius: 12px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: box-shadow 0.3s ease;
    border-radius: 12px;
    /* Optional for rounded corners */
}

.image-container:hover img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black background */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 16px;
    /* Adjust as needed */
    display: none;
}

.image-container:hover .image-description {
    opacity: 1;
    display: block;
}

.ease-out {
    animation: easeOutAnimation 0.3s forwards;
}


@keyframes easeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeEffect {
    from {
        opacity: .4w
    }

    to {
        opacity: 1
    }
}


.image-grid-one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.image-grid-one img {
    max-width: 100%;
    /* Make sure the image is not wider than the container */
    height: auto;
    /* Keep the image aspect ratio */
}

.image-grid-one img:hover {
    opacity: 0.7;
}


.image-grid-two {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding-right: 0;
    /* Adjust the gap as needed */
}

.image-grid-two img {
    width: auto;
    cursor: pointer;
    transition: 0.3s;
}

.image-grid-two img:hover {
    opacity: 0.7;
}


.image-grid-three {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding-right: 0;
    /* Adjust the gap as needed */
}

.image-grid-three img {
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.image-grid-three img:hover {
    opacity: 0.7;
}

.image-grid-three img:nth-child(3n) {
    margin-right: 0;
}

.image-grid {
    gap: 24px;
}

.img-slides {
    border-radius: 12px;
    display: block;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 12px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content */
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center children horizontally */
    margin: auto;
    padding-bottom: 24px;
    width: 90%;
    max-width: 1040px;
}

/* The Close Button */
.close {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 50px;
    color: #f1f1f1;
    font-size: 38px;
    transition: 0.3s;
    padding: 8px;
}

.close:hover,
.close:focus {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
    background-color: #2b2b2b;
    padding: 8px;
    border-radius: 50px;
    height: 40px;
    width: 40px;

}

.fade-out {
    animation: fadeOutAnimation 0.5s forwards;
    /* Animation name, duration, fill-mode */
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.mySlides {
    display: none;
    position: relative;
    animation: fadeEffect 1s;
}

.slide-text {
    position: absolute;
    bottom: 0;
    /* Aligns the text to the bottom */
    left: 0;
    max-width: 82.3vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    text-align: left;
    padding: 16px 24px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Style the arrows for navigation */
.prev,
.next {
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 44%;
    width: auto;
    margin-top: -50px;
    transition: 0.3s ease;
    user-select: none;

    & img {
        width: 32px;
        height: 32px;
    }

}

/* Position the "next button" to the right */
.next {
    right: 0;
    margin-right: 24px;
}

/* Position the "prev button" to the left */
.prev {
    left: 0;
    margin-left: 24px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.prev svg,
.next svg {
    fill: currentColor;
    width: 30px;
    height: 30px;

}

.thumbnail-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    overflow-x: auto;
    white-space: nowrap;
}

.thumbnail {
    height: auto;
    width: auto;
    max-height: 120px;
    max-width: 120px;
    margin-right: 12px;
    opacity: 1;
    border-radius: 12px;
    object-fit: cover;
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.thumbnail:last-child {
    margin-right: 0;
    /* Remove margin for the last thumbnail */
}

.thumbnail:hover {
    opacity: 1;
    /* Thumbnails are fully opaque when hovered */
}

/* Optional: add a border or shadow to the active thumbnail */
.thumbnail.active {
    border: 2px solid #fff;
    /* White border for the active thumbnail */
    box-shadow: 0 0 8px #000000;
    opacity: 1;
    /* Glow effect for the active thumbnail */
}


footer {
    max-width: 1100px;
    margin: auto;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    height: 28px;
    width: 28px;
    margin-bottom: 8px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin-right: 24px;
    margin-left: 0px;
    /* Space between icons */
    display: inline-block;
    /* Align icons in a row */
}

.social-icons a:hover {
    opacity: 0.7;
}

.social-icons:last-child {
    margin-right: 0;
}